<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="../../assets/css/app.css">
</head>
<body>
    <div class="container">
        <!-- <input type="checkbox" id="menu_css_toggle"> -->
        <!-- side navbar start  -->
        <aside class="side-navber" id="side_navber">
            <div class="top-sidebar">
                <span class="material-symbols-outlined">
                    empty_dashboard
                </span>
                <span class="d_name">Brand Name</span>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li class="active">
                        <a href="../../index.html" type="button" class="drop_side_nav">
                            <span class="material-symbols-outlined link_icon">
                            home
                            </span>
                            <span class="link_name">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" type="button" class="drop_side_nav sidebarBtn">
                            <span class="material-symbols-outlined link_icon">
                                settings_input_component
                            </span>
                            <span class="link_name">Components</span>
                        </a>
                        <ul class="drop_link">
                            <li>
                                <a href="/views/components/button.html">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">Button</span>
                                </a>
                            </li>
                            <li>
                                <a href="/views/components/card.html">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">Card</span>
                                </a>
                            </li>
                            <li>
                                <a href="/views/components/table.html">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">Table</span>
                                </a>
                            </li>
                            <li>
                                <a href="/views/components/chart.html">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">Chart</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" type="button" class="drop_side_nav sidebarBtn">
                            <span class="material-symbols-outlined link_icon">
                                inventory_2
                            </span><span class="link_name">Pages</span>
                        </a>
                        <ul class="drop_link">
                            <li>
                                <a href="#">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">Chat</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">Login</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">Register</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">Error</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" type="button" class="drop_side_nav sidebarBtn">
                            <span class="material-symbols-outlined link_icon">
                                inventory_2
                            </span><span class="link_name">Product</span>
                        </a>
                        <ul class="drop_link">
                            <li>
                                <a href="#">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">All User</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">All User</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">All User</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="material-symbols-outlined">
                                    radio_button_unchecked
                                    </span>
                                    <span class="sub_name">All User</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="sidebarBtn"><span class="material-symbols-outlined link_icon">
                            person
                            </span><span class="link_name">User</span></a>
                    </li>
                    <li>
                        <a href="#"  class="sidebarBtn"><span class="material-symbols-outlined link_icon">
                            sell
                            </span><span class="link_name">Sales</span></a>
                    </li>
                    <li>
                        <a href="#" class="sidebarBtn"><span class="material-symbols-outlined link_icon">
                            settings
                            </span><span class="link_name">Setting</span></a>
                    </li>
                    <hr>
                    <li>
                        <a href="#" class="sidebarBtn"><span class="material-symbols-outlined link_icon">
                            logout
                            </span><span class="link_name">Logout</span></a>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- side navbar end  -->
<!-- =========================================== -->
        <!-- content body start  -->
        <main class="content-body">
        <!-- top navbar start  -->
<!-- =========================================== -->
            <div class="top_navbar">
                <nav>
                    <ul>
                        <li class="menu">
                            <button id="menu_bar">
                                <label for="menu_css_toggle">
                                    <span class="material-symbols-outlined">
                                    menu
                                    </span>
                                </label>
                            </button>
                        </li>
                        <li class="search">
                            <form action="#">
                                <input type="search" placeholder="search">
                                <button>
                                    <span class="material-symbols-outlined">
                                        search
                                    </span>
                                </button>
                            </form>
                        </li>
                        <li class="switch-mode">
                            <label class="switch theme-toggle">
                                <span class="sun"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="#ffd43b"><circle r="5" cy="12" cx="12"></circle><path d="m21 13h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm-17 0h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zm13.66-5.66a1 1 0 0 1 -.66-.29 1 1 0 0 1 0-1.41l.71-.71a1 1 0 1 1 1.41 1.41l-.71.71a1 1 0 0 1 -.75.29zm-12.02 12.02a1 1 0 0 1 -.71-.29 1 1 0 0 1 0-1.41l.71-.66a1 1 0 0 1 1.41 1.41l-.71.71a1 1 0 0 1 -.7.24zm6.36-14.36a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm0 17a1 1 0 0 1 -1-1v-1a1 1 0 0 1 2 0v1a1 1 0 0 1 -1 1zm-5.66-14.66a1 1 0 0 1 -.7-.29l-.71-.71a1 1 0 0 1 1.41-1.41l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.29zm12.02 12.02a1 1 0 0 1 -.7-.29l-.66-.71a1 1 0 0 1 1.36-1.36l.71.71a1 1 0 0 1 0 1.41 1 1 0 0 1 -.71.24z"></path></g></svg></span>
                                <span for="theme-toggle" class="moon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="m223.5 32c-123.5 0-223.5 100.3-223.5 224s100 224 223.5 224c60.6 0 115.5-24.2 155.8-63.4 5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6-96.9 0-175.5-78.8-175.5-176 0-65.8 36-123.1 89.3-153.3 6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"></path></svg></span>   
                                <input type="checkbox" class="input" id="theme-toggle">
                                <span class="slider"></span>
                            </label>
                        </li>
                        <li class="account">
                            <button class="dropbtn"  onclick="myFunction()">
                                <span class="material-symbols-outlined">
                                    account_circle
                                </span>
                                Account
                            </button>
                            <div class="profile" id="profile">
                                <ul>
                                    <li><a href="#">User</a></li>
                                    <li><a href="#">Email: user@gmail.com</a></li>
                                    <li><a href="#">Setting</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>

<!-- ================================================== -->
        <!-- breadcrumb area start -->
                <section class="breadcrumb_area">
                    <ul class="breadcrumb">
                        <li>
                            <a href="../index.html">
                            <span>Home</span>
                            </a>
                        </li>
                        <li><a href="#">Category</a></li>
                        <li>Button</li>
                    </ul>
                    <div class="breadcrumb_end">
                        <button class="butn butn_secondary butn_sm"><span class="material-symbols-outlined">
                            add
                            </span><span>Add</span></button>
                    </div>
                </section>
        <!-- breadcrumb area end -->
    <!-- top navbar end  -->
            </div>
<!-- =========================================== -->
        <!-- main body start  -->
            <div class="main-body">
<!-- ================================================= -->
        <!-- Content Area start  -->
                <section class="content">
                    <h1 style="text-align: center; background-color: aliceblue;">Button Group</h1>
                    <h2>Default Button</h2>
                    <button class="butn butn_success">success</button>
                    <button class="butn butn_info">Info</button>
                    <button class="butn butn_primary">primary</button>
                    <button class="butn butn_warning">Warning</button>
                    <button class="butn butn_danger">danger</button>
                    <button class="butn butn_secondary">Secondary</button>
                    <button class="butn butn_dark">Dark</button>
                    <button class="butn butn_gray">Gray</button>
                    <button class="butn butn_light">Light</button>
                    <hr>
                    <h2>Large Button</h2>
                    <button class="butn butn_success butn_lg">success</button>
                    <button class="butn butn_info butn_lg">Info</button>
                    <button class="butn butn_primary butn_lg">primary</button>
                    <button class="butn butn_warning butn_lg">Warning</button>
                    <button class="butn butn_danger butn_lg">danger</button>
                    <button class="butn butn_secondary butn_lg">Secondary</button>
                    <button class="butn butn_dark butn_lg">Dark</button>
                    <button class="butn butn_gray butn_lg">Gray</button>
                    <button class="butn butn_light butn_lg">Light</button>
                    <hr>
                    <h2>Medium Button</h2>
                    <button class="butn butn_success butn_md">success</button>
                    <button class="butn butn_info butn_md">Info</button>
                    <button class="butn butn_primary butn_md">primary</button>
                    <button class="butn butn_warning butn_md">Warning</button>
                    <button class="butn butn_danger butn_md">danger</button>
                    <button class="butn butn_secondary butn_md">Secondary</button>
                    <button class="butn butn_dark butn_md">Dark</button>
                    <button class="butn butn_gray butn_md">Gray</button>
                    <button class="butn butn_light butn_md">Light</button>
                    <hr>
                    <h2>Small Button</h2>
                    <button class="butn butn_success butn_sm">success</button>
                    <button class="butn butn_info butn_sm">Info</button>
                    <button class="butn butn_primary butn_sm">primary</button>
                    <button class="butn butn_warning butn_sm">Warning</button>
                    <button class="butn butn_danger butn_sm">danger</button>
                    <button class="butn butn_secondary butn_sm">Secondary</button>
                    <button class="butn butn_dark butn_sm">Dark</button>
                    <button class="butn butn_gray butn_sm">Gray</button>
                    <button class="butn butn_light butn_sm">Light</button>
                    <hr>
                    <h2>Button Outline Hover</h2>
                    <button class="butn butn_o_success">success</button>
                    <button class="butn butn_o_info">Info</button>
                    <button class="butn butn_o_primary">primary</button>
                    <button class="butn butn_o_warning">Warning</button>
                    <button class="butn butn_o_danger">danger</button>
                    <button class="butn butn_o_secondary">Secondary</button>
                    <button class="butn butn_o_dark">Dark</button>
                    <button class="butn butn_o_gray">Gray</button>
                    <button class="butn butn_o_light">Light</button>
                    <hr>
                    <h2>Button Pill</h2>
                    <button class="butn butn_success butn_pill">success</button>
                    <button class="butn butn_info butn_pill">Info</button>
                    <button class="butn butn_primary butn_pill">primary</button>
                    <button class="butn butn_warning butn_pill">Warning</button>
                    <button class="butn butn_danger butn_pill">danger</button>
                    <button class="butn butn_secondary butn_pill">Secondary</button>
                    <button class="butn butn_dark butn_pill">Dark</button>
                    <button class="butn butn_gray butn_pill">Gray</button>
                    <button class="butn butn_light butn_pill">Light</button>

                   
                </section>
                    <!-- Content Area end  -->
            <!-- ============================================== -->
            </div>
            <!-- main body end  -->
            <!-- footer section start  -->
            <footer>
                <div>Copyright © 2023, Md Mamunur Rashid. All Right Reserved</div>
            </footer>
            <!-- footer section end  -->
<!-- =========================================== -->
        </main>
        <!-- content body end  -->
    </div>
    <script src="../../assets/js/app.js"></script>
</body>
</html>