.top_navbar{
  nav{
      background-color: var(--nav_color);
      color: var(--gray);
      margin: 0;
      ul{
          display: flex;
          justify-content: space-between;
          margin: 0 10px;
          padding: 8px 0;
          line-height: 40px;
          list-style-type: none;
          align-items: center;
          li{
              display: flex;
              align-items: center;
              &.menu button { 
                background-color: #345672;
                color: var(--light);
                // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                align-items: center;
                padding: 2px 5px;
                &:hover{
                    background-color: #576574;
                      color: #eee;
                      box-shadow: none;
                  }
                  
              }
              &.search{
                  form{
                  // padding: .5px;
                  // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                  border-radius: 20px;
                  display: flex;
                  input{
                      padding: 6px 25px;
                      background-color: #345672;
                      border-radius: 20px 0 0 20px;
                      margin-right: 0px;
                      line-height: 25px;
                      width: 300px;
                      border: none;
                      outline: none;
                      
                      @include mbs (){
                        display: none;
                      }
                      &:focus{
                          outline: 1px solid #3582c2;
                          background-color: #405261;
                          color: var(--gray);
                          font-size: 14px;
                          &::placeholder{
                              color: var(--gray);
                          }
                      }
                  }
                  button{
                      padding: 7px 15px;
                      border-radius: 0 20px 20px 0;
                      background: #173b59;
                      color: var(--light);
                      display: flex;
                      border: none;
                      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                      // align-items: center;
                      span{
                        align-items: center;
                      }
                      @include mbs (){
                        border-radius:20px;
                        padding: 8px;
                      }
                      &:hover{
                        background: #0e2a41;
                      }
                  }
                }
              }
              &.switch-mode{
                  .switch {
                      font-size: 17px;
                      position: relative;
                      display: inline-block;
                      width: 64px;
                      height: 34px;
                      input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                      }
                      .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #275479;
                        transition: .4s;
                        border-radius: 30px;
                        &:before {
                          position: absolute;
                          content: "";
                          height: 30px;
                          width: 30px;
                          border-radius: 20px;
                          left: 2px;
                          bottom: 2px;
                          z-index: 2;
                          background-color: #e8e8e8;
                          transition: .4s;
                        }
                      }
                      .sun svg {
                        position: absolute;
                        top: 6px;
                        left: 36px;
                        z-index: 1;
                        width: 24px;
                        height: 24px;
                      }
                      .moon svg {
                        fill: #161718;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        z-index: 1;
                        width: 24px;
                        height: 24px;
                      }
                      /* .switch:hover */.sun svg {
                        animation: rotate 15s linear infinite;
                      }
                      @keyframes rotate {
                       
                        0% {
                          transform: rotate(0);
                        }
                      
                        100% {
                          transform: rotate(360deg);
                        }
                      }
                      
                      /* .switch:hover */.moon svg {
                        animation: tilt 5s linear infinite;
                      }
                      
                      @keyframes tilt {
                       
                        0% {
                          transform: rotate(0deg);
                        }
                      
                        25% {
                          transform: rotate(-10deg);
                        }
                      
                        75% {
                          transform: rotate(10deg);
                        }
                      
                        100% {
                          transform: rotate(0deg);
                        }
                      }
                      .input:checked + .slider {
                          background-color: #446da5;
                      }
                      
                      .input:focus + .slider {
                          box-shadow: 0 0 1px #183153;
                      }
                      
                      .input:checked + .slider:before {
                          transform: translateX(30px);
                      }
                  }
              }
              
              &.account button { 
                  background-color: #345672;
                  color: var(--gray);
                  // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                  display: flex;
                  border-radius: 5px;
                  align-items: center;
                  span{
                      align-items: center;
                      font-size: 29px;
                      margin-right: 5px;
                  }
                  &:hover{
                    background-color: #576574;
                      color: #bbb3b3;
                      box-shadow: none;
                  }
                  
              }
          }
      }
  }
}

.theme-toggle span.active{
  background-color: var(--gray);
  color: white;
}

// .content-body nav .theme-toggle{
//   display: block;
//   min-width: 50px;
//   height: 25px;
//   background: var(--gray);
//   cursor: pointer;
//   position: relative;
//   border-radius: 25px;
// }

// .content-body nav .theme-toggle::before{
//   content: "";
//   position: absolute;
//   top: 2px;
//   left: 2px;
//   bottom: 2px;
//   width: calc(25px - 4px);
//   background: var(--primary);
//   border-radius: 50%;
//   transition: all 0.3s ease;
// }

// .content-body nav #theme-toggle:checked+.theme-toggle::before{
//   left: calc(100% - (25px - 4px) - 2px);
// }
  
  
  
  
  
  
  
  
  